* {
  margin: 0;
  padding: 0;
}

html, body, .App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #201E1F;
  overflow-y: auto; /* This ensures content taller than the viewport is scrollable. */
}

.App {
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  padding: 10px 10px;
}
