* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: url('/src/images/bg.png') no-repeat center center/cover;
    height: 100vh; /* This ensures the body takes up the full viewport height. */
    overflow: auto; /* This ensures content taller than the viewport is scrollable. */
}
