* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%; /* Ensures the root and body elements take up the full height of the viewport. */
}

body {
  background: url('/src/images/bg.png') no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto; /* This ensures content taller than the viewport is scrollable. */
}
